html{
    height: 100%;
}
body{
    padding-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    background-image: url(background.jpg);
}
.container{
    background-color: white;
    height: 57vh;
    width: 24%;
}
.dot:nth-child(1){
    background-color: grey;
}
p{
    padding-top: 20px;
    text-align: center;
}

